<div class="container">
    <div class="row">
        <div class="col col-md-3">
            <%-include("announce.ejs")%>
        </div>
        <div class="col col-md-9">
            <%-include("event.ejs")%>
        </div>
    </div>
</div>